version: '3.9'

services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/merndb
      - NODE_ENV=development
    depends_on:
      - mongo
    networks:
      - mern-network

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - mern-network

  mongo:
    image: mongo:6
    container_name: mern-mongo
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=merndb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

volumes:
  mongo-data:

networks:
  mern-network:

