apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: goal-app
spec:
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 80   # <--- IMPORTANT FIX
  type: ClusterIP
